@charset "ISO-8859-1";
.text-danger {
    color: #e80c4d;
    font-size: 5px;
}

body {
    background-image:
        url("https://www.callcentrehelper.com/images/stories/2019/03/piggy-bank-orange-bg-760.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    text-align: center;
}
.box {
overflow: hidden;
border-radius: 20px;
box-shadow: 5px 20px 50px #000;
margin: auto;
padding: 50px;
text-align: center;
float: center;
font-weight: 1000;
width: 800px;
}
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color: white;
}
.box{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	width:500px;
	margin:10vh auto;
	background:transparent;
	box-shadow:0 0 15px rgb(255,255,255);
	border-radius:25px;
}
.form label {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

.form table {
    font-size: 20px;
    margin-left: 480px;
    margin-top:190px;
}

.form input {
    width: 200px;
    height: 27px;
}
.form select{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: black;
}
.form #radbtn{
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: white;
}

.form button {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 250px;
    margin-top: 28px; 
}
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}

