@charset "ISO-8859-1";



body {
    background-image:
        url(https://cdn.wallpapersafari.com/38/11/VOCQdG.jpg);
    height: 768px;
    width: 1366px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu {
    width: 1429px;
    float: left;
    height: 70px;
}

ul {
   float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
    margin-right: -406px;
    margin-top: 32px;
}


ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #FFFAF0;
    font-family: Garamond, Serif;
    font-size:30px;
    font-weight:bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #0000FF;
}