body {
    background-image:
        url(https://img.myloview.com/murals/wood-plank-black-timber-texture-background-vintage-table-plywood-woodwork-hardwoods-400-220438720.jpg);
    background-repeat: no-repeat;
    background-size: 1366px 1000px;
    text-align: center;
       overflow-y:auto
}
        

h1 {
    font-family:  Garamond, Serif;
    font-size: 40px;
    color:white;
}

.form label {
    font-family: Garamond, Serif;
    font-size: 40px;
    color:#FFFAFA;
}

.form table {
    font-size: 30px;
    margin-left: 400px;
}

.form input {
    width: 200px;
    height: 27px;
}
.form select{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: black;
}
.form #radbtn{
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: white;
}

.form button {
    border-radius: 25px;
    background: white;
    padding: 12px;
    width: 250px;
    margin-top: 30px;
}
.message{
     color: #ffffff;
    font-size: 20px;
    
}
.mandatory:after {
    content:"*";
    color: black;
  }
  
  input.input-box, textarea {
   background: #B0E0E6;
    }