@charset "ISO-8859-1";
body {
	background-image:
		url(https://i.pinimg.com/736x/b4/d9/aa/b4d9aac7374566dc1a55bcbaae02fa0d--backgrounds-free-wallpaper-backgrounds.jpg);
	height: 768px;
	width: 1366px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
span{
    text-align:left;
    display:block;
    margin-left:50px;
    font-family: Garamond, Serif;
    font-size: 20px;
    color:#FFFAFA;
}
h1{
	color:#FFFAFA;
}
