@charset "ISO-8859-1";
body {
	background-image:
		url(https://cdn.wallpapersafari.com/38/11/VOCQdG.jpg);
	height: 768px;
	width: 1366px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
span{
    text-align:left;
    display:block;
    margin-left:50px;
    font-family: Garamond, Serif;
    font-size: 20px;
    color:#FFFAFA;
}
